:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  background: linear-gradient(135deg, #ff6ec4, #7873f5, #ffd86f, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  background: linear-gradient(to right, #ff9a8b, #ff6ec4, #7873f5);
  /* // border: none; */
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-width: 1px;
  border-color: rgb(250, 233, 178);
  outline: none;
}

button:hover {
  transform: scale(1.05);
}

h1,
h2,
h3,
p {
  margin: 0.5rem;
}
